[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
python-dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[requires]
python_version = "3.8"
